<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
  <div class="page_Container">
    <%- include('partials/header.ejs') %>
    <main>
      <section class="memberSection">
        <h1 id="memberTitles"><%= memberDisplay.aliasMember %> </h1>
        <img class="memberCard" alt="" src = "../images/profileCards/<%= memberDisplay.image[0] %>">
        <div id="dataMember">
          <div>
            <p>Alias: <%= memberDisplay.name %></p>
            <p>Ubicación: <%= memberDisplay.ubication %></p>
            <p>Ocupación: <%= memberDisplay.ocupation %></p>
            <p>Altura: <%= memberDisplay.heightMember %>cm</p>
            <p>- Descripcion -</p>
            <p><%= memberDisplay.description %></p>
          </div>
        </div>
      </section>
      <img class="acoPenguin" alt="" src="../images/backgrounds/penguin.png">
    </main>
    <%- include('partials/footer.ejs') %> 
  </div>
</body>
</html>