<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/header.ejs') %>
  <main>
    <section class="gridPage">
      <% memberData.forEach(member => { %>
        <article class="memberCard">
          <a href="/miembros/<%- member.username.toLowerCase() %>">
            <img src="../images/profileCards/<%- member.image[0] %>" alt="<%- member.name %>">
          </a>
        </article>
      <% }) %>
    </section>
  </main>
  <%- include('partials/footer.ejs') %> 
</body>
</html>