<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/header.ejs') %>
  <main class="lynx_BG">
    <section class="member_Box">
      <section class="member_Pic_Area">
        <img class="avatarCard" alt="<%= memberDisplay.aliasMember %>" src= "../images/profileCards/<%= memberDisplay.image[0] %>">
      </section>
      <section class="data_Box">
        <div id="dataMember">
          <p>Usuario: <%= memberDisplay.aliasMember %></p>
          <p>Alias: <%= memberDisplay.name %></p>
          <p>Ubicación: <%= memberDisplay.ubication %></p>
          <p>Ocupación: <%= memberDisplay.ocupation %></p>
          <p>Altura: <%= memberDisplay.heightMember %>cm</p>
          <p>- Descripción -</p>
          <p><%= memberDisplay.description %></p>
        </div>
      </section>

    </section>
  </main>
  <%- include('partials/footer.ejs') %> 
</body>
</html>